.ads-wrapper{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    .ads-container {
        background-color: #E5E5E5;
        border: solid 1px #5A5A5A;
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            font-size: 20px; 
            font-weight: 700;
        }
    }
}

.center {
    text-align: center;
    text-align: -webkit-center;
}
