.section-wrapper {
    .section-header-wrapper{
        display: flex;
        justify-content: space-between;
        .title-wrapper {
            .title {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 5px;
            }
            .subtitle {
                font-size: 16px;
                color: #5A5A5A;
                opacity: 0.8;
            }
        }
        .section-see-more {
            margin-top: auto;
            cursor: pointer;
            span{
                color: #da254e;
                &:after{ 
                    content: '>';
                    font-weight: normal;
                    font-style: normal;
                    margin:0px 0px 0px 10px;
                    text-decoration:none;
                    color: #da254e;
                }
            }
        }
         
    }
}